/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body.front{
background-color: transparent;
background: url('../img/city_background.jpg') no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color:#FFF;
}
.navbar-inverse .navbar-inner{
background:#48a4cc;

}

.navbar-inverse .brand, .navbar-inverse .nav>li>a{
color:#F0F0F0;
} 

.main-container.container {
background: rgba(0,0,0, .7);
border: 1px solid #333;
}





.main-container.container.main-container.container{
	background-color: #f2f2f2;
}

.html.not-front.logged-in.no-sidebars.page-wall.modal{
position:relative;
z-index: 0;
width: 800px;
margin-left: -400px;
}

.html.not-front.logged-in.no-sidebars.page-wall.first{
	list-style: none;
}
.html.not-front.logged-in.no-sidebars.page-wall.last{
	list-style: none;
}

.html.not-front.logged-in.no-sidebars.page-wall.modal-header{
	padding: 60px 20px;
}

.html.not-front.logged-in.no-sidebars.page-wall.field-items{
	float: left;
	margin-top: -35px;
	padding: 10px;
}


